h3 {
	line-height: 100px;
	margin: 0;
}

#input-num {
	width: 120px;
}

h3,
#output-num {
	text-align: center;
	font-size: 22pt;
}

#disclaimer {
	bottom: 5px;
	font-size: 8.25pt;
	position: absolute;
}

label,
select {
	font-size: 9.75pt;
}

#top-screen div,
#bottom-screen div {
	margin: 0 5px;
}

#btn-convert {
	background-color: #32cd32;
	border: 2px #008000 solid;
	border-radius: 5px;
	font-size: 11.25pt;
	font-weight: bold;
	width: 150px;
	height: 50px;
	margin: 5px auto;
	display: block;
	line-height: 46px;
}

#btn-convert:active {
	background-color: #0f0;
}

#bottom-screen > div {
	margin-bottom: 5px;
}

#top-screen,
#bottom-screen {
	position: relative;
}

.dsi #output-num,
.dsi h3 {
	font-size: 11.25pt;
}
