#bottom-screen,
#top-screen {
	background-color: #121215;
}

#bars,
#banner,
#numbers,
#terminal {
	border: 1px #003800 solid;
	background-color: #000;
	color: #0f0;
	vertical-align: top;
}

textarea {
	font-family: "Liberation Sans", sans-serif;
}

#banner {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 97%;
}

#bars {
	display: block;
	font-size: 9px;
	height: 45%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	overflow-y: hidden;
	resize: none;
	width: 90%;
}

#numbers {
	display: inline-block;
	font-size: 6px;
	height: 100%;
	padding: 0;
	resize: none;
	width: 60px;
}

#radar {
	display: inline-block;
	height: 87px;
	width: 87px;
}

#terminal {
	display: inline-block;
	font-size: 9px;
	height: 100%;
	margin-left: 3px;
	overflow-y: hidden;
	padding-left: 4px;
	resize: none;
	width: 320px;
}

#tiles {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	vertical-align: top;
}

.dsi #top-screen {
	padding: 0;
}

.dsi #terminal {
	font-size: 9.75pt;
	width: 171px;
}

.dsi #numbers {
	font-size: 8.25pt;
	width: 50px;
}

.dsi #bars {
	font-size: 8.25pt;
}

.dsi #radar {
	height: 82px;
	width: 82px;
}