/* Originally made by magiczocker10 */
#top-screen,
#bottom-screen {
	background-color: #e8e3c4;
	text-align: center;
}

#field {
	margin-top: 5px;
}

#turn-txt {
	background-color: #fff;
	border: 1px #000 solid;
	border-radius: 10px;
	margin-left: 25%;
	width: 50%;
}

.playerX {
	color: #f00;
}

.playerO {
	color: #0026ff;
}

.dsi #stats {
	font-size: 9.75pt;
}

.dsi #top-screen h2,
.dsi #turn-txt {
	font-size: 11.25pt;
}