#top-screen,
#bottom-screen {
	position: relative;
	text-align: center;
}

#code {
	max-width: 300px;
	max-height: 140px;
}

#text {
	margin-top: 2%;
	width: 190px;
}

#left,
#right {
	cursor: pointer;
	display: inline-block;
	font-size: 9pt;
	line-height: 120pt;
	vertical-align: bottom;
	width: 10px;
}

#left.hidden,
#right.hidden {
	color: #fff;
	cursor: default;
}

.page {
	display: inline-block;
	width: 280px;
}

.page img {
	height: 25px;
}

#btn-gen {
	background-color: #32cd32;
	border: 2px #008000 solid;
	border-radius: 5px;
	margin-top: 2%;
}

#btn-gen:active {
	background: #00ff00;
}

input[ name="codeSelectRadio" ] {
	display: none;
}

input:checked + label {
	border-color: #008000;
	background-color: #00db00;
}

label {
	border: 2px solid;
	border-radius: 5px;
	display: inline-block;
	font-size: 10.5pt;
	margin-bottom: 5px;
	text-align: center;
	width: 128px;
	padding: 2px;
}

label > img {
	margin: auto;
}

h3 {
	text-align: center;
}

.dsi #left,
.dsi #right {
	font-size: 8.25pt;
	line-height: 140px;
}

.dsi h3 {
	font-size: 11.25pt;
}

.dsi #code {
	max-width: 200px;
	max-height: 100px;
}

.dsi #text {
	width: 140px;
}

.dsi #btn-gen {
	font-size: 9.75pt;
}

.dsi .page {
	width: 180px;
}

.dsi .page img {
	height: 20px;
}

.dsi label {
	border-width: 1px;
	font-size: 8.25pt;
	width: 81px;
}
